{% extends 'homepage/base.html' %}

{% block content %}
    <figure class="text-center">
        <blockquote class="blockquote">
            <br>
            <h3>Добро пожаловать на BOOKS!</h3>
            <br><br>
        <p> Это простой проект для понимания, как работает Django.
            Здесь вы можете просматривать краткое содержание книг. Также можете зарегистрироваться, чтобы иметь возможность добавлять, редактировать и удалять свои книги.
        </p>
        </blockquote>
        <figcaption class="blockquote-footer">
        В качестве фронтенда использован <cite title="Source Title">Bootstrap</cite>
        </figcaption>
    </figure>
{% endblock %}